@import url(mq.css);

body {
    font-family: "Arial", sans-serif;
    background-color: #0c3d52;
    color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    text-align: center;
    background-size: cover; /* Enables background image covering */
    background-position: center; /* Center the background image */
    transition: background-image 1s ease-in-out; /* Smooth transition */
}

.game-container {
    width: 100%;
    margin: 20px;
    padding: 20px;
    background-color: rgba(46, 46, 46, 0.5); /* Stormy Grey with transparency */
    border: 2px solid #b8860b; /* Treasure Gold */
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    display: flex;
    /*flex-direction: column;*/
    gap: 20px;
}

.window {
    padding: 15px;
    background-color: rgba(46, 46, 46, 0.5); /* Stormy Grey with transparency */
    border-radius: 10px;
}

h1 {
    font-size: 1.4em;
    color: #b8860b; /* Treasure Gold */
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

#storyboard {
    margin-top: 10px;
    font-size: 1.1em;
    font-family: "Georgia", serif;
    color: #f0e68c; /* Sail White */
}

.options-controls {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center; /* Center items in the container */
}

.controller {
    display: flex;
    flex-direction: column;
    gap: 20px; /* Ensure space between buttons */
    align-items: stretch; /* Stretch buttons to the same width */
}

button {
    background: linear-gradient(135deg, #ff6f61, #ffab40);
    color: #ffffff;
    font-weight: bold; /* Bold text to stand out */
    border: 3px solid #fff; /* White border for a striking look */
    padding: 15px;
    cursor: pointer;
    border-radius: 30px; /* Rounded edges for a game show feel */
    font-size: 1.2em;
    transition: background 0.3s ease, transform 0.2s;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.5); /* Deep shadow for a dynamic effect */
    width: 100%; /* Full width of the container */
    max-width: 250px; /* Limit maximum width */
    text-align: center; /* Center the text */
    letter-spacing: 1px; /* Slight spacing between letters */
}

button:hover {
    background: linear-gradient(135deg, #ffab40, #ff6f61); /* Reverse gradient on hover for interactivity */
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.6); /* Enhance shadow on hover */
    transform: scale(1.05); /* Slightly increase size on hover */
}

button:active {
    transform: scale(0.98); /* Slight reduction in size on click */
}

button:focus {
    outline: none;
    box-shadow: 0 0 10px 4px rgba(255, 171, 64, 0.7); /* Glowing effect on focus */
}

.story-window {
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
}